@import 'variables';

header {
    background-color: $extra-color;
    height: 70px;

    .header-data {
        color: #ffffff;
        .back-icons{
            cursor: pointer;
            i {
                margin-right: 7px;
                &:first-child {
                    font-size: 26px;
                }
                &:last-child {
                    font-size: 30px;
                }
            }
        }
        &--image {
            width: 55px;
            display: inline-block;
            border-radius: 50%;
        }
        &--title {
            font-weight: 600;
            font-size: 24px;
        }
    }

    i {
        color: #ffffff;
        font-size: 40px;
        &:hover {
            cursor: pointer;
        }
    }
}
