<header>
    <div class="container">
        <div class="row">
            <div class="col header-data align-self-center">
                <span *ngIf="!isAllAlbums()" (click)="goBack()" class="icon ion-chevron-left arrow"></span>
                <img *ngIf="isAllAlbums()"
                     src="{{ imageUrl }}"
                     alt="image"
                     class="img-thumbnail header-data--image">
                <span class="header-data--title">{{ title }}</span>
            </div>
            <div class="col align-self-center text-right align-self-center">
                <button class="btn btn-link" (click)="signOut()">
                    <i class="icon ion-log-out"></i>
                </button>
            </div>
        </div>
    </div>
</header>
