@import 'variables';

header {
    background-color: $extra-color;
    height: 70px;

    .header-data {
        color: #ffffff;
        .arrow {
            font-size: 26px;
            cursor: pointer;
        }
        &--image {
            width: 55px;
            display: inline-block;
            border-radius: 50%;
        }
        &--title {
            font-weight: 600;
            font-size: 24px;
            margin-left: 10px;
        }
    }

    i {
        color: #ffffff;
        font-size: 40px;
        &:hover {
            cursor: pointer;
        }
    }
}
