$img-width: 200px;

.container {
    background-color: #ffffff;
    padding-top: 15px;
}

.photos {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    &--line {
        margin-bottom: 15px;
    }
}

.photo-wrapper {
    height: $img-width;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 10px;
}

.img-tooltip {
    position: relative;
    //  border-bottom: 1px dotted black
    &--content {
        visibility: hidden;

        background-color: black;
        color: #fff;
        opacity: 0.85;

        border-radius: 7px;
        padding: 5px 7px;
        position: absolute;
        top: 105%;
        z-index: 5;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: $img-width / 2;
            border: 10px solid transparent;
            border-bottom-color: black;
        }
    }
    &:hover .img-tooltip--content {
        visibility: visible;
    }
}

.img-info {
    font-size: 12px;
    &--title {
        min-width: 90px;
        text-align: start;
    }
    &--detail{
        min-width: 115px;
        max-width: 250px;
    }
}
