<app-header *ngIf="album" [title]="album.title" [type]="album">
</app-header>
<div class="container" *ngIf="photos">
    <div class="photos" bodyScroll (isAlpha)="loadMore()">
        <div class="row photos--line" *ngFor="let i of rowsCount">
            <div class="col-3" *ngFor="let photo of photos | slice:(i*4):(i+1)*4">
                <div [ngStyle]="{'background-image': 'url(' + photo.images[2].src + ')'}"
                     class="img-thumbnail photo-wrapper img-container">
                    <!-- tooltip body -->
                    <div class="img-tooltip--content">
                        <table class="img-info">
                            <tr>
                                <th>Likes:</th>
                                <td>{{ photo.likes }}</td>
                            </tr>
                            <tr>
                                <th>Reposts:</th>
                                <td>{{ photo.reposts }}</td>
                            </tr>
                            <tr>
                                <th>Comments:</th>
                                <td>{{ photo.comments }}</td>
                            </tr>
                            <tr>
                                <th>Created:</th>
                                <td>{{ photo.cteated() }}</td>
                            </tr>
                            <tr *ngIf="photo.caption">
                                <th class="align-top">Caption:</th>
                                <td class="caption">{{ photo.caption }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="bottom-panel bg-faded" (click)="openPhoto(photo)">
                        <i class="icon ion-checkmark-round"></i>
                        <span>Select</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading && !isAll">
            <div class="col">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

















