$extra-color: #354d7b;
$img-width: 200px;

.container {
    background-color: #ffffff;
    padding-top: 15px;
}

.photos {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    &--line {
        margin-bottom: 15px;
    }
}

.photo-wrapper {
    height: $img-width;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 10px;
}

.img-container {
    position: relative;
    &:hover .img-tooltip--content {
        visibility: visible;
    }
    .bottom-panel {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        color: $extra-color;
        cursor: pointer;
        padding-left: 10px;
        span {
            text-decoration: underline dotted;
            letter-spacing: 1px;
        }
    }
}

.img-tooltip--content {
    visibility: hidden;
    background-color: black;
    color: #fff;
    opacity: 0.85;
    border-radius: 7px;
    padding: 5px 7px;
    position: absolute;
    top: 105%;
    z-index: 5;
    &::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: $img-width / 2;
        border: 10px solid transparent;
        border-bottom-color: black;
    }
}

.img-info {
    font-size: 12px;
    th {
        min-width: 90px;
    }
    td {
        min-width: 115px;
    }
    .caption{
        min-width: 250px;
    }
}

.loader {
    margin: 20px auto;
    border-radius: 50%;
    border: 16px solid #dfdfdf;
    border-top: 16px solid $extra-color;
    border-bottom: 16px solid $extra-color;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
