$extra-color: #354d7b;

.list-group-item {
    cursor: pointer;
}

.album {
    &--image {
        width: 100px;
        height: 100px;
        background: no-repeat center center;
        background-size: cover;
    }
    &--detail {
        margin-left: 20px;
        p {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 14px;
            i {
                margin-right: 7px;
            }
        }
        .title {
            font-weight: bold;
            color: $extra-color;
            font-size: 18px;
        }
    }
}

.arrow {
    color: $extra-color;
    font-size: 40px;
}
